

#upper-bio {
    font-size: x-large;
}

#lower-bio {
    display: flex;
    flex-direction: column;
    width: 100rem;
}

#lower-bio img {
    margin: 2.5rem;
    border-radius: .5rem;
    /* border-style: solid; */
}

#job-desc {
    display: flex;
    flex-direction: column;
}

#job-desc  * { 
    margin-top: 1rem;
}

h3 {
    font-size: xx-large;
}

#job-desc span {
    font-size: x-large
}

#partners-title {
    margin-top: 2.5rem;
    height: 5rem;
    font-size: 3rem;
}

#partners {
    display: flex;
    flex-direction: row;
    width: 80rem;
}

#partners * {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin-bottom: 2rem;
    object-fit: contain;
}

#cedars-logo{
    margin: 1.5rem 1rem;
    width: 30rem;
}

#ucla-logo{
    margin: 1.5rem 1rem;
    width: 30rem;
}

#other-logo{
    margin: 1.5rem 1rem;
    width: 10rem;
}