.inbox-appointment {
    width: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: .4rem;
}

.inbox-referral {
    width: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: .4rem;
}

/* .referral-detail {
    width: 30rem;
} */


summary::marker {
    display: none;
    content: "";
}