.inbox-doc {
    width: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: .4rem;
}

.referral-detail {
    position: fixed;
    right: 0;
    width: 30rem;
}