#services {
    margin: 2rem 0;
    padding: 0 1rem;
    width: 50rem;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3rem 3rem;
    list-style-type: none;
}

.service-element {
    text-align: center;
    font-size: x-large;
}

.service-element p {
    margin-top: 1rem;
}


.service * {
    display: flex;    
    filter: drop-shadow(0 0 5px rgba(0,6,0,.3));
    width: 15rem;
    height: 15rem;
    border-radius: 15rem;
    justify-items: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
}

.extep {
    margin: 1rem;
    width:80rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "explain-header steps-header"
    "explain-content steps-content";
    column-gap: 3rem;
    row-gap: 1rem;
}

.extep .explain-header {
    grid-area: explain-header;
}
.extep .steps-header {
    grid-area: steps-header;
}

.extep .explain {
    grid-area: explain-content;
    color: rgb(50, 50, 50);  
    font-size: x-large;
}

.extep .steps {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    grid-area: steps-content;
    font-size: x-large;
}

@media screen and (max-width: 1000px) {
    .extep {
        display: flex;
        flex-direction: column;
        width:40rem;
    }
}